.head-logo{
   
   padding-top: 24px;
    padding-bottom:  24px;    
    margin-right: 76px;
    margin-left: 156px;
    width: 115px;
    height: 24px;
}
.nav-menu{
    display: flex;
}
.nav-menu-list{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
    list-style-type: none;  
    padding-left: 0;
    display: flex;

}

.header{
    width: 1440px;
    height: 72px;  
        display: flex;
        align-items:center;
}
.nav-menu-list-pos{
    padding-right: 40px;
}
.nav-contacts{
    list-style-type: none;
        padding-left: 332px;
        display: flex;
        font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 16px;
        
            /* line-height: 24px; */
            line-height: 150%;
            letter-spacing: 0.02em;
            color: #434455;
            margin-right: auto;
            margin-right: 156px;
}
.nav-contacts-mail{
    margin-right: 40px;
}
.main-page{
    margin-top: 0;
    padding-top: 0;
    background: #2e2f42;
    
    width: 1440px;
        height: 600px;
}
.main-page-title{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
    
        /* line-height: 60px; */
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        padding-top: 188px;
        padding-left: 472px;
        padding-right: 472px;
        padding-bottom: 48px;
}
.main-page-but{
    border-radius: 4px;
        padding: 16px 32px;
        width: 186px;
        height: 56px;
        
            font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 16px;
            
                /* line-height: 24px; */
                line-height: 150%;
                letter-spacing: 0.04em;
                color: #fff;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
                    background: #4d5ae5;
                    margin-left: 636px;
                    margin-right: 635px;
                    margin-bottom: 188px;
                    margin-top: 0;
}
.nav-menu-apps{
    text-decoration: none;
}